<!DOCTYPE html>

<html>

	<head>
		<% include ./head %>
	</head>
	
	<body>	

	<!-- start of navigation area -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/show">Expenses</a>
			</div>
			<ul class="nav navbar-nav">
				<li id='show-link'><a href="#/show">Show All</a></li>
				<li id='add-link'><a href="#/add">Add New</a></li>
			</ul>
		</div>
	</nav>	

	<!-- header -->
	<div class='container'>
		<div class='row'>
			<div id='header-inner'>
				<h1><span class="glyphicon glyphicon-piggy-bank"></span> Expenses Manager</h1>
				<h2><small>saves all personal expenses on a MongoDB database</small></h2>
			</div>
			<div class='push-up'></div>
		</div>
	</div>
